<style>
.__link {	
	font-size: 11pt;
	cursor: pointer;
	display: table-cell;
	vertical-align: bottom;
	padding-left: 6px;
	color: white;
}
.__link:hover {
	text-decoration: underline;
}

.__input_labels {
	padding-left: 3px;
	font-size: 10pt;
	display: table-cell;
	color: white;
}

.__error_msg {
	font-size: 10pt;
	padding-left: 3px;
	color: orangered;
}

input {
	width: 100px;
}

</style>

<div style="width: 114px">
	<div class="__input_labels">Email <input type="textbox" name="" [(ngModel)]="email"></div>
	<div class="__input_labels">Senha <input type="textbox" name="" [(ngModel)]="pass"></div>
	<div class="__link" (click)="login()">OK</div>
	<div class="__link" (click)="register()">Registrar</div>
	<div class="__error_msg">{{ error_msg }}</div>
</div>