<style>

/*select { 
	background: white; 
  border: 1px solid #DDD; 
  border-radius: 5px; 
  box-shadow: 0 0 5px #DDD inset; 
  color: #666; 
  outline: none; 
  height: 24px; 
  width: 150px; 
} */

</style>

<md-select placeholder="País" [(ngModel)]="country" [style.width]="'170px'">
	<md-option value=""></md-option>
	<md-option value="Afganistan">Afghanistan</md-option>
	<md-option value="Albania">Albania</md-option>
	<md-option value="Algeria">Algeria</md-option>
	<md-option value="American Samoa">American Samoa</md-option>
	<md-option value="Andorra">Andorra</md-option>
	<md-option value="Angola">Angola</md-option>
	<md-option value="Anguilla">Anguilla</md-option>
	<md-option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</md-option>
	<md-option value="Argentina">Argentina</md-option>
	<md-option value="Armenia">Armenia</md-option>
	<md-option value="Aruba">Aruba</md-option>
	<md-option value="Australia">Australia</md-option>
	<md-option value="Austria">Austria</md-option>
	<md-option value="Azerbaijan">Azerbaijan</md-option>
	<md-option value="Bahamas">Bahamas</md-option>
	<md-option value="Bahrain">Bahrain</md-option>
	<md-option value="Bangladesh">Bangladesh</md-option>
	<md-option value="Barbados">Barbados</md-option>
	<md-option value="Belarus">Belarus</md-option>
	<md-option value="Belgium">Belgium</md-option>
	<md-option value="Belize">Belize</md-option>
	<md-option value="Benin">Benin</md-option>
	<md-option value="Bermuda">Bermuda</md-option>
	<md-option value="Bhutan">Bhutan</md-option>
	<md-option value="Bolivia">Bolivia</md-option>
	<md-option value="Bonaire">Bonaire</md-option>
	<md-option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</md-option>
	<md-option value="Botswana">Botswana</md-option>
	<md-option value="Brazil">Brazil</md-option>
	<md-option value="British Indian Ocean Ter">British Indian Ocean Ter</md-option>
	<md-option value="Brunei">Brunei</md-option>
	<md-option value="Bulgaria">Bulgaria</md-option>
	<md-option value="Burkina Faso">Burkina Faso</md-option>
	<md-option value="Burundi">Burundi</md-option>
	<md-option value="Cambodia">Cambodia</md-option>
	<md-option value="Cameroon">Cameroon</md-option>
	<md-option value="Canada">Canada</md-option>
	<md-option value="Canary Islands">Canary Islands</md-option>
	<md-option value="Cape Verde">Cape Verde</md-option>
	<md-option value="Cayman Islands">Cayman Islands</md-option>
	<md-option value="Central African Republic">Central African Republic</md-option>
	<md-option value="Chad">Chad</md-option>
	<md-option value="Channel Islands">Channel Islands</md-option>
	<md-option value="Chile">Chile</md-option>
	<md-option value="China">China</md-option>
	<md-option value="Christmas Island">Christmas Island</md-option>
	<md-option value="Cocos Island">Cocos Island</md-option>
	<md-option value="Colombia">Colombia</md-option>
	<md-option value="Comoros">Comoros</md-option>
	<md-option value="Congo">Congo</md-option>
	<md-option value="Cook Islands">Cook Islands</md-option>
	<md-option value="Costa Rica">Costa Rica</md-option>
	<md-option value="Cote DIvoire">Cote D'Ivoire</md-option>
	<md-option value="Croatia">Croatia</md-option>
	<md-option value="Cuba">Cuba</md-option>
	<md-option value="Curaco">Curacao</md-option>
	<md-option value="Cyprus">Cyprus</md-option>
	<md-option value="Czech Republic">Czech Republic</md-option>
	<md-option value="Denmark">Denmark</md-option>
	<md-option value="Djibouti">Djibouti</md-option>
	<md-option value="Dominica">Dominica</md-option>
	<md-option value="Dominican Republic">Dominican Republic</md-option>
	<md-option value="East Timor">East Timor</md-option>
	<md-option value="Ecuador">Ecuador</md-option>
	<md-option value="Egypt">Egypt</md-option>
	<md-option value="El Salvador">El Salvador</md-option>
	<md-option value="Equatorial Guinea">Equatorial Guinea</md-option>
	<md-option value="Eritrea">Eritrea</md-option>
	<md-option value="Estonia">Estonia</md-option>
	<md-option value="Ethiopia">Ethiopia</md-option>
	<md-option value="Falkland Islands">Falkland Islands</md-option>
	<md-option value="Faroe Islands">Faroe Islands</md-option>
	<md-option value="Fiji">Fiji</md-option>
	<md-option value="Finland">Finland</md-option>
	<md-option value="France">France</md-option>
	<md-option value="French Guiana">French Guiana</md-option>
	<md-option value="French Polynesia">French Polynesia</md-option>
	<md-option value="French Southern Ter">French Southern Ter</md-option>
	<md-option value="Gabon">Gabon</md-option>
	<md-option value="Gambia">Gambia</md-option>
	<md-option value="Georgia">Georgia</md-option>
	<md-option value="Germany">Germany</md-option>
	<md-option value="Ghana">Ghana</md-option>
	<md-option value="Gibraltar">Gibraltar</md-option>
	<md-option value="Great Britain">Great Britain</md-option>
	<md-option value="Greece">Greece</md-option>
	<md-option value="Greenland">Greenland</md-option>
	<md-option value="Grenada">Grenada</md-option>
	<md-option value="Guadeloupe">Guadeloupe</md-option>
	<md-option value="Guam">Guam</md-option>
	<md-option value="Guatemala">Guatemala</md-option>
	<md-option value="Guinea">Guinea</md-option>
	<md-option value="Guyana">Guyana</md-option>
	<md-option value="Haiti">Haiti</md-option>
	<md-option value="Hawaii">Hawaii</md-option>
	<md-option value="Honduras">Honduras</md-option>
	<md-option value="Hong Kong">Hong Kong</md-option>
	<md-option value="Hungary">Hungary</md-option>
	<md-option value="Iceland">Iceland</md-option>
	<md-option value="India">India</md-option>
	<md-option value="Indonesia">Indonesia</md-option>
	<md-option value="Iran">Iran</md-option>
	<md-option value="Iraq">Iraq</md-option>
	<md-option value="Ireland">Ireland</md-option>
	<md-option value="Isle of Man">Isle of Man</md-option>
	<md-option value="Israel">Israel</md-option>
	<md-option value="Italy">Italy</md-option>
	<md-option value="Jamaica">Jamaica</md-option>
	<md-option value="Japan">Japan</md-option>
	<md-option value="Jordan">Jordan</md-option>
	<md-option value="Kazakhstan">Kazakhstan</md-option>
	<md-option value="Kenya">Kenya</md-option>
	<md-option value="Kiribati">Kiribati</md-option>
	<md-option value="Korea North">Korea North</md-option>
	<md-option value="Korea Sout">Korea South</md-option>
	<md-option value="Kuwait">Kuwait</md-option>
	<md-option value="Kyrgyzstan">Kyrgyzstan</md-option>
	<md-option value="Laos">Laos</md-option>
	<md-option value="Latvia">Latvia</md-option>
	<md-option value="Lebanon">Lebanon</md-option>
	<md-option value="Lesotho">Lesotho</md-option>
	<md-option value="Liberia">Liberia</md-option>
	<md-option value="Libya">Libya</md-option>
	<md-option value="Liechtenstein">Liechtenstein</md-option>
	<md-option value="Lithuania">Lithuania</md-option>
	<md-option value="Luxembourg">Luxembourg</md-option>
	<md-option value="Macau">Macau</md-option>
	<md-option value="Macedonia">Macedonia</md-option>
	<md-option value="Madagascar">Madagascar</md-option>
	<md-option value="Malaysia">Malaysia</md-option>
	<md-option value="Malawi">Malawi</md-option>
	<md-option value="Maldives">Maldives</md-option>
	<md-option value="Mali">Mali</md-option>
	<md-option value="Malta">Malta</md-option>
	<md-option value="Marshall Islands">Marshall Islands</md-option>
	<md-option value="Martinique">Martinique</md-option>
	<md-option value="Mauritania">Mauritania</md-option>
	<md-option value="Mauritius">Mauritius</md-option>
	<md-option value="Mayotte">Mayotte</md-option>
	<md-option value="Mexico">Mexico</md-option>
	<md-option value="Midway Islands">Midway Islands</md-option>
	<md-option value="Moldova">Moldova</md-option>
	<md-option value="Monaco">Monaco</md-option>
	<md-option value="Mongolia">Mongolia</md-option>
	<md-option value="Montserrat">Montserrat</md-option>
	<md-option value="Morocco">Morocco</md-option>
	<md-option value="Mozambique">Mozambique</md-option>
	<md-option value="Myanmar">Myanmar</md-option>
	<md-option value="Nambia">Nambia</md-option>
	<md-option value="Nauru">Nauru</md-option>
	<md-option value="Nepal">Nepal</md-option>
	<md-option value="Netherland Antilles">Netherland Antilles</md-option>
	<md-option value="Netherlands">Netherlands (Holland, Europe)</md-option>
	<md-option value="Nevis">Nevis</md-option>
	<md-option value="New Caledonia">New Caledonia</md-option>
	<md-option value="New Zealand">New Zealand</md-option>
	<md-option value="Nicaragua">Nicaragua</md-option>
	<md-option value="Niger">Niger</md-option>
	<md-option value="Nigeria">Nigeria</md-option>
	<md-option value="Niue">Niue</md-option>
	<md-option value="Norfolk Island">Norfolk Island</md-option>
	<md-option value="Norway">Norway</md-option>
	<md-option value="Oman">Oman</md-option>
	<md-option value="Pakistan">Pakistan</md-option>
	<md-option value="Palau Island">Palau Island</md-option>
	<md-option value="Palestine">Palestine</md-option>
	<md-option value="Panama">Panama</md-option>
	<md-option value="Papua New Guinea">Papua New Guinea</md-option>
	<md-option value="Paraguay">Paraguay</md-option>
	<md-option value="Peru">Peru</md-option>
	<md-option value="Phillipines">Philippines</md-option>
	<md-option value="Pitcairn Island">Pitcairn Island</md-option>
	<md-option value="Poland">Poland</md-option>
	<md-option value="Portugal">Portugal</md-option>
	<md-option value="Puerto Rico">Puerto Rico</md-option>
	<md-option value="Qatar">Qatar</md-option>
	<md-option value="Republic of Montenegro">Republic of Montenegro</md-option>
	<md-option value="Republic of Serbia">Republic of Serbia</md-option>
	<md-option value="Reunion">Reunion</md-option>
	<md-option value="Romania">Romania</md-option>
	<md-option value="Russia">Russia</md-option>
	<md-option value="Rwanda">Rwanda</md-option>
	<md-option value="St Barthelemy">St Barthelemy</md-option>
	<md-option value="St Eustatius">St Eustatius</md-option>
	<md-option value="St Helena">St Helena</md-option>
	<md-option value="St Kitts-Nevis">St Kitts-Nevis</md-option>
	<md-option value="St Lucia">St Lucia</md-option>
	<md-option value="St Maarten">St Maarten</md-option>
	<md-option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</md-option>
	<md-option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</md-option>
	<md-option value="Saipan">Saipan</md-option>
	<md-option value="Samoa">Samoa</md-option>
	<md-option value="Samoa American">Samoa American</md-option>
	<md-option value="San Marino">San Marino</md-option>
	<md-option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</md-option>
	<md-option value="Saudi Arabia">Saudi Arabia</md-option>
	<md-option value="Senegal">Senegal</md-option>
	<md-option value="Serbia">Serbia</md-option>
	<md-option value="Seychelles">Seychelles</md-option>
	<md-option value="Sierra Leone">Sierra Leone</md-option>
	<md-option value="Singapore">Singapore</md-option>
	<md-option value="Slovakia">Slovakia</md-option>
	<md-option value="Slovenia">Slovenia</md-option>
	<md-option value="Solomon Islands">Solomon Islands</md-option>
	<md-option value="Somalia">Somalia</md-option>
	<md-option value="South Africa">South Africa</md-option>
	<md-option value="Spain">Spain</md-option>
	<md-option value="Sri Lanka">Sri Lanka</md-option>
	<md-option value="Sudan">Sudan</md-option>
	<md-option value="Suriname">Suriname</md-option>
	<md-option value="Swaziland">Swaziland</md-option>
	<md-option value="Sweden">Sweden</md-option>
	<md-option value="Switzerland">Switzerland</md-option>
	<md-option value="Syria">Syria</md-option>
	<md-option value="Tahiti">Tahiti</md-option>
	<md-option value="Taiwan">Taiwan</md-option>
	<md-option value="Tajikistan">Tajikistan</md-option>
	<md-option value="Tanzania">Tanzania</md-option>
	<md-option value="Thailand">Thailand</md-option>
	<md-option value="Togo">Togo</md-option>
	<md-option value="Tokelau">Tokelau</md-option>
	<md-option value="Tonga">Tonga</md-option>
	<md-option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</md-option>
	<md-option value="Tunisia">Tunisia</md-option>
	<md-option value="Turkey">Turkey</md-option>
	<md-option value="Turkmenistan">Turkmenistan</md-option>
	<md-option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</md-option>
	<md-option value="Tuvalu">Tuvalu</md-option>
	<md-option value="Uganda">Uganda</md-option>
	<md-option value="Ukraine">Ukraine</md-option>
	<md-option value="United Arab Erimates">United Arab Emirates</md-option>
	<md-option value="United Kingdom">United Kingdom</md-option>
	<md-option value="United States of America">United States of America</md-option>
	<md-option value="Uraguay">Uruguay</md-option>
	<md-option value="Uzbekistan">Uzbekistan</md-option>
	<md-option value="Vanuatu">Vanuatu</md-option>
	<md-option value="Vatican City State">Vatican City State</md-option>
	<md-option value="Venezuela">Venezuela</md-option>
	<md-option value="Vietnam">Vietnam</md-option>
	<md-option value="Virgin Islands (Brit)">Virgin Islands (Brit)</md-option>
	<md-option value="Virgin Islands (USA)">Virgin Islands (USA)</md-option>
	<md-option value="Wake Island">Wake Island</md-option>
	<md-option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</md-option>
	<md-option value="Yemen">Yemen</md-option>
	<md-option value="Zaire">Zaire</md-option>
	<md-option value="Zambia">Zambia</md-option>
	<md-option value="Zimbabwe">Zimbabwe</md-option>
</md-select>
