<style type="text/css">

.__container {
	margin-left: 35px;
	padding-top: 1px;
	width: 372px;
}
	
.__register_container {
	text-align: center;
}

.__display_message {
	margin: 20px 0 0 0;
	height: 42px;
	color: orangered;
}

table {
	    border-spacing: 0px;
}

td {
	font-size: 10pt;
}

md-input-container {
	width: 170px;
}

</style>

<div class="__container">
 	<h4>Preencha os campos abaixo</h4>
	
	<table>
		<tr>
			<td>
				<md-input-container>
					<input mdInput placeholder="Nome" [(ngModel)]="m_first_name" />
				</md-input-container>
			</td>
			<td>
				<md-input-container style="padding-left: 15px">
					<input mdInput placeholder="Sobrenome" [(ngModel)]="m_last_name" />
				</md-input-container>
			</td>
		</tr>
		<tr>
			<td><select-country-list (countryChanged)="m_country = $event"></select-country-list></td>
			<td>
				<md-input-container style="padding-left: 15px; width: 170px">
					<input mdInput type="date" placeholder="Data de nascimento" />
				</md-input-container>
			</td>
		</tr>
	</table>

	 <br />

	<table>
		<tr>
			<td>
				<md-input-container style="width: 370px">
					<input mdInput placeholder="E-Mail" [(ngModel)]="m_email" />
				</md-input-container>
			</td>
		</tr>
	</table>

	<br />

	<table>
		<tr>
			<td>
				<md-input-container>
					<input mdInput placeholder="Senha" [(ngModel)]="m_pass" />
				</md-input-container>
			</td>
			<td>
				<md-input-container style="padding-left: 15px">
					<input mdInput placeholder="Confirme sua senha" />
				</md-input-container>
			</td>
		</tr>
	</table>

	<div class="__register_container">
		<div class="__display_message">{{ m_alert }}</div>
		<!-- <div class="__register_button" (click)="register()">Register</div> -->
		<button md-button (click)="register()">Registrar</button>
	</div>
</div>
